<!-- begin recent posts -->
    <div class="recent">
      <% i = 0 %>
      <% @posts.each do |post| %>
      
      <!-- begin post -->
      	<% i+=1 %>
      	 <% cls = 'o' %>
      	<% if i%2==0 %>
      	<% cls = 'e'%>
      	<% end %>
      <div class="<%= cls %> post"> <a href="http://all-free-download.com/free-website-templates/">
      	<img src="<%= image_path("_thumb.jpg") %>" />
      	</a>
      	
        
        <h2><%= link_to post.title, post %></h2>
        <p><%= post.text.first(100) %></p>
        <p class="readmore">[ <%= link_to 'read more', post %> ]</p>
        <div class="break"></div>
      </div>
      <!-- end post -->
      <% end %>
    </div>
    <!-- end recent posts -->